.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: auto;
}
.todo-node {
  padding: 16px;
  margin: 8px;
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
}
.todo-node h4 {
  text-align: center;
  font-size: 24px;
}
.todo-buttons {
  margin-top: 16px;
  text-align: center;
}
.column {
  height: 100%;
  width: 100%;
}
.column h3 {
  text-align: center;
  font-size: 30px;
}
.not-started {
  background-color: rgb(212, 210, 228);
}
.in-progress {
  background-color: rgb(228, 210, 210);
}
.done {
  background-color: rgb(228, 228, 210);
}
.todo-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-header button {
  margin-left: 16px;
}

@media only screen and (max-width: 1520px) {
  .container {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .column {
    width: 60%;
  }
}
@media only screen and (max-width: 760px) {
  .column {
    width: 100%;
  }
}
